.btn{
    padding: 5px 15px;
    background-color: #30C023;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}

.btn:disabled{
    cursor: not-allowed;
}

.btn-red{
    background-color: #F83030;
    color:#FFFFFF;
}

.btn-action{
    background: rgba(10, 150, 194, 0.3);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

.btn-small{
    font-size: 16px;
    font-weight: 500;
    color:#FFFFFF;
    padding: 5px;
    line-height: 1.3;
}