.input{
    padding: 20px;
    border: none;
    width: 100%;
    font-size: 18px;
    background: #F5F5F5;
    border-radius: 12px;
    color: #757575;
}

.input_green{
    background: #DFFDCC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.input_small{
    padding: 10px;
}
