.dialog-item{
    display: flex;
    padding: 15px;
    align-items: center;
    width: 100%;

    cursor: pointer;

    gap: 15px;
    background: #F6FAF4;
}

.dialog-item:hover{
    background: #c6eabe;
}

.dialog-item_active{
    background: #8bf372;
}

.dialog-item-img{
    height: 50px;
    width: 50px;

    object-fit: cover;
    border-radius: 10px;
}

.user-name{
    font-size: 18px;
}