.profile-info {
    background: #FFFFFF;
    border-radius: 20px;
}

.profile-name-wrapper {
    text-align: center;
    padding: 15px;
}

.profile-info-name {
    font-size: 36px;
    font-weight: 700;
}

.info-text-wrapper {
    padding: 20px 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-info-text {
}