*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background: #DEF7CB;
    min-height: 100vh;
}

.container-app{
    margin: 0;
    width: 1400px;
}

.container-content{
    display: flex;
    padding-top: 50px;
    min-height: calc(100vh - 100px);
}
